.separator {
  margin-bottom: 10px;
}

.separatorTitle {
  font-size: 25px;
}

.numberData {
  font-weight: bold;
}

.title{
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.buttonAdd {
  width: -webkit-fill-available;
  margin-left: 10px;
  margin-right: 10px;
}

.buttonsOptions {
  width: -webkit-fill-available;
  margin-bottom: 5px;
}

.btnDelete{
  background-color: red;
  border-color: red;
}

.marginLow {
  margin-bottom: 20px;
}

.logoutb {
  margin-top: 20px;
  margin-bottom: 20px;
}

.formUpdateModal{
  margin-bottom: 5px;
  text-align: left;
}

